body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: transparent;
}

.bar-container {
    max-width: 200px;
    height: 500px;
    margin: 0 auto;
    padding: 30px;
}

.goal-bar {
    position: relative;
    height: 100%;
    padding-left: 30px;
}
.goal-bar .bar-labels {
    position: absolute;
    top: 0px;
    left: -10px;
    width: 30px;
    height: 100%;
    font-size: 12px;
    line-height: 12px;
    color: #F22F46;
}
.goal-bar .bar-label {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top: -6px;
}
.goal-bar .bar-label:nth-child(2) {
    top: 25%;
}
.goal-bar .bar-label:nth-child(3) {
    top: 50%;
}
.goal-bar .bar-label:nth-child(4) {
    top: 75%;
}
.goal-bar .bar-label:nth-child(5) {
    top: 100%;
}

.goal-bar .bar-label:first-child {
    margin-top: 0;
}
.goal-bar .bar-label:last-child {
    margin-top: -12px;
}
.goal-bar .bar-wrap {
    position: relative;
    height: 100%;
    background: #f2f2f2;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    overflow: hidden;
}
.goal-bar .bar-line {
    position: absolute;
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
    border-top: 1px solid #c7c7c7;
}
.goal-bar .bar-line:nth-child(1) {
    top: 25%;
}
.goal-bar .bar-line:nth-child(2) {
    top: 50%;
}
.goal-bar .bar-line:nth-child(3) {
    top: 75%;
}
.goal-bar .bar-line:nth-child(4) {
    top: 100%;
}

.goal-bar .bar {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #F22F46;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.goal-bar .bar-info {
    position: relative;
    margin: 15px;
}
.goal-bar .bar-info.info-above {
    top: -75px;
}
.goal-bar .bar-info .bar-info-inner {
    padding: 10px;
    background: #F22F46;
    border-radius: 3px;
    color: white;
    text-align: center;
}
